body {
  text-align: center;
  background-image: url(thebackground.jpg);
  color: teal;
  font-family: "Cute Font", cursive;
}
.-colorb {
  color: black;
}
.heading {
  margin: 10px auto;
  width: 70vw;
  padding-top: 10px;
  padding-bottom: 100px;
  background-image: url(pinkflowers.jpg.);
  font-size: 60px;
  background-size: cover;
  background-position: center;
}

.left {
  text-align: left;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 40px;
}
.wborder {
  border: 5px solid white;
}
.img {
  text-align: center;
  height: 70vh;
  width: 60vw;
}
.heart {
  color: black;
  font-size: 30px;
}
.description {
  font-size: 30px;
  border: springgreen solid;
  width: 40vw;
  margin: auto;
  margin-top: 10px;
  background-color: pink;
}
.box {
  border: 500px palegreen solid;
  width: 33vw;
  padding-bottom: 100px;
  background: plum;
  font-size: 30px;
}
